.dark-mode {
    background-color: #222;
    color: white;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: darkgreen;
}

img {
    width: 300px;
    border-radius: 10px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
@media (max-width: 600px) {
    img {
        width: 100%;
    }
}